body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family:'Neuzeit Grotesk';
	font-size: 1rem;
	color: rgb(59, 59, 59);
}
.main_area {
	position: relative;
	width: 100%;
	height: auto;
	background: url(../images/main_bg.png) no-repeat center center;
	background-size: cover;
}
.main_area .title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	line-height: 120px;
	text-align: center;
	font-size: 135px;
	font-weight: 700;
	letter-spacing: -10px;
	z-index: 4;
	color: rgb(73, 73, 73);
}
.main_area .title2{
	position: absolute;
	left: 50%;
	top: 54.4%;
	transform: translate(-50%,-50%);
	line-height: 120px;
	text-align: center;
	font-size: 135px;
	font-weight: 700;
	letter-spacing: -10px;
	z-index: 3;
	color:#17ec3ee3;
}
.main_area .title3{
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translate(-50%,-50%);
	font-family: 'Sacramento', cursive;
	line-height: 120px;
	text-align: center;
	font-size: 135px;
	font-weight: 500;
	letter-spacing: -3px;
	z-index: 3;
	color:#17ec3f;
}
.main_area .main-sticker{
	position: absolute;
	left: 65%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	display: block;
	z-index: 8;
}
.main_area .main-sticker2{
	position: absolute;
	right: -32px;
	bottom: 0%;
	transform:rotate(90deg);
	text-align: center;
	display: block;
	z-index: 8;
}
.main_area .main-sticker3{
	position: absolute;
	left: 20%;
	top: 2%;
	transform: translate(-50%,-50%);
	text-align: center;
	display: block;
	z-index: 8;
}
.main_area .main-sticker4{
	position: absolute;
	left: 49px;
	bottom: 0;
	transform: translate(-50%,-50%);
	text-align: center;
	display: block;
	z-index: 8;
}
.sub {
	padding: 50px;
	width: 100%;
	height: 969px;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 300;
	font-style: italic;
	background: #f4f4f4;
	color: #f4f4f4;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-shadow: 1px 1px 2px rgba(0,0,0,.1);
	text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}
.sub:nth-child(even) {
	background: #eaeaea;
	color: #eaeaea;
}
.controller {
	position: fixed;
	right: 30px;
	top: 50%;
	z-index: 100;
	margin: 0;
	margin-top: -92px;
	padding: 0;
	width: 14px;
	list-style: none;
    display: none;
}
.controller li {
	margin-top: 20px;
	width: 14px;
	height: 14px;
}
.controller li:first-child {
	margin-top: 0;
}
.controller li a {
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	background: #4e4e4e;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.controller li a.on {
	background: #53ff2a;
}

/*=================================서브 2페이지====================================*/


/*skill-graph option*/
.progress{display: flex; align-items: center; margin-bottom: 50px;text-align: center;}
.progress p{text-align: center; font-family: 'Neuzeit Grotesk'; font-size: 20px; color:#111;font-weight: 900;transition: all .3s}
.progress i{ display:inline-block; font-size: 40px; color:#ddd; margin-top: 20px;transition: all .3s}
.progress h3{font-size: 40px; font-family: 'Neuzeit Grotesk'; color:#ccc; margin-bottom: 50px;display: flex; align-items: center; margin-left: 20px; }
.progress h3:before{content: ""; display: block; width: 100px; height: 2px; background: #ddd}
.progress.design h3:after{content: ""; display: block; width: 100px; height: 2px; background: #ddd}
.progress.design h3:before{display: none}
.progress .ect i{font-size: 30px; margin-right: 10px;}
.progress.design{justify-content: flex-end; margin-right: 200px}
#container,#container1,#container2,#container3,#container4,#container5,#container6,#container7,#container8{margin: 20px;width: 150px;height: 150px;position: relative;}
.progress.design>div:hover p{color:#ed8793}
.progress.design>div:hover i{color:#ed8793}
.progress>div:hover p{color:#5dd6d4}
.progress>div:hover i{color:#5dd6d4}
#container,#container1,#container2,#container3,#container4,#container5,#container6,#container7,#container8{margin: 20px;width: 150px;height: 150px;position: relative; z-index: 888}


/*skill-graph option*/
.mobile-response-graph{position: absolute; display: none}
.mobile-response-graph .progress{display: block; align-items: center; margin-bottom: 20px;text-align: center;}
#mobilecontainer,#mobilecontainer1,#mobilecontainer2,#mobilecontainer3,#mobilecontainer4,#mobilecontainer5,#mobilecontainer6,#mobilecontainer7,#mobilecontainer8{ margin: 20px;width: 600px;height: 8px;position: relative;}
.mobile-response-graph .progress{text-align: center;}
.mobile-response-graph .progress p{text-align: left;}
.mobile-response-graph .progress.design{justify-content: flex-end; margin-right: 200px}
.mobile-response-graph .progressbar-text{font-size: 20px;}







